.banner{
    width: 100%;
    height: 560px;
    background: #003145;
    display: flex;
    align-items: center;
}
.custom-width{
    width: 73%;
    margin: 0 auto;
}
.br{
    width: 11px;
    height: 90px;
    background: #FFCE5C;
}
.summary{
    width: 100%;
    height: 130px;
    background: #002A3B;
}
.summary-card{
    position: relative;
}
.summary-card::after {
    position: absolute;
    content: '';
    top: 12px;
    right: -106px;
    width: 1px;
    height: 22px;
    background: #C4C4C4;
}
.participate-card{
    background: #F8F9FD;
    border: 0 !important;
}

.explore-top-part{
    width: 100%;
    background: #002A3B;
    height: 230px;
}

.search-section{
    width: 60%;
    margin: 0 auto;
}
.filter-section{
    width: auto;
    background: #fff;
    color: black;
    min-height: 35px;
    text-align: left;
    border-radius: 5px;
    padding: 7px;
}
.challenge-cards-section{
    width: 100%;
    background: #003145;
    height: auto;
}
.status-select-part, .level-select-part{
    border-top: 1px solid #ECECEC;
    margin: 0 5px;
}
.filter-options label{
    display: inline-block;
    padding-left: 5px;
    color: #858585;
}
.filter-options p{
    margin: 6px 0;
    color: #666666;
}
.challenge-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.upcoming-txt{
    background: #F2C94C;
    display: inline-block;
    padding: 4px 9px;
    font-size: 10px;
    border-radius: 10px;
}